@charset "UTF-8";

/* Alterar valores de variáveis do Bootstrap */
:root {
  /* Cor de fundo da página */
  --bs-body-bg: #e8e8e8 !important;
}

section.box-livros {
  /* Cor de fundo */
  background-color: #f2f2f2;
  /* Cantos arredondados */
  border-radius: 8px;
  /* Sombra */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

  /* Borda gradiente */
  position: relative;
  padding: 3px;
}
/* Borda gradiente: desenhada atrás da section */
section.box-livros::before {
  content: "";
  position: absolute;
  /* Espessura da borda */
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  /* Posicionar atrás da section */
  z-index: -1;
  /* Arredondar a borda */
  border-radius: 10px;
  /* Cor gradiente da borda */
  background: linear-gradient(to top left, #ff8a1e, #3e0372);
}
